{% if page.event_list %}
<div id="aside-sec-nav">
  <h3 class="sec-nav-header">UPCOMING EVENTS</h3>
  <ul id="aside-events-current">
    <li>Coming soon</li>   
  </ul>
  <h3 class="sec-nav-header">PAST EVENTS</h3>
  <ul id="aside-events">
    <li><a id="boston-event-link" href="/events/2009-boston.html">Boston, Massachusetts</a></li>
    <li><a id="dc-event-link" href="/events/2009-dc.html">Falls Church, Virginia</a></li>
    <li><a id="durham-event-link" href="/events/2009-durham.html">Durham, North Carolina</a></li>
  </ul>
</div>
<br />
<br />
{% endif %}