{% if page.event_list %}
<div id="aside-sec-nav">
  <h3 class="sec-nav-header">UPCOMING EVENTS</h3>
  <ul id="aside-events" class="current">
    <li id="austin-event-link"><a href="/events/2010-austin.html">Austin, Texas</a></li>
  </ul>
  <h3 class="sec-nav-header">PAST EVENTS</h3>
  <ul id="aside-events">
    <li id="boulder-event-link"><a href="/events/2009-boulder.html">Boulder, Colorado</a></li>
    <li id="boston-event-link"><a href="/events/2009-boston.html">Boston, Massachusetts</a></li>
    <li id="dc-event-link"><a href="/events/2009-dc.html">Falls Church, Virginia</a></li>
    <li id="durham-event-link"><a href="/events/2009-durham.html">Durham, North Carolina</a></li>
  </ul>
</div>
<br />
<br />
{% endif %}