{% if page.twitter %}
<div id="people-talking">
  <h4>PEOPLE ARE TALKING:</h4>
  <div id="twtr-search-widget"></div>
  <script src="http://widgets.twimg.com/j/1/widget.js"></script>
  <link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet">
  <script>
  new TWTR.Widget({
    search: '#developer_day',
    id: 'twtr-search-widget',
    loop: true,
    title: '',
    subject: '',
    width: 250,
    height: 300,
    theme: {
      shell: {
        background: '#3082af',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#1985b5'
      }
    }
  }).render().start();
  </script>
</div>
{% endif %}