<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{{ page.title }}</title>
  
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8" />
  <script src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" charset="utf-8" src="/javascripts/app.js"></script>
</head>

<body id="{{ page.location }}">
  <div id="header">
    <span id="logo">Developer Day</span>
    
    <ul id="nav">
      <li><a href="/">Upcoming</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="/events.html">Past</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
  </div>
  
  {{ content }}
  
  <div id="footer">
    
  </div>
</body>
<html>