<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head profile="http://www.w3.org/2006/03/hcard">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />

  <title>{{ page.title }}</title>

  <meta name="robots" content="all" />

  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/thickbox.css" type="text/css" media="screen" />
  <!--[if lte IE 6]><link rel="stylesheet" href="/css/ie6.css" type="text/css" /><![endif]-->
  <!--[if gte IE 7]><link rel="stylesheet" href="/css/ie.css" type="text/css" /><![endif]-->

  <script src="http://www.google.com/jsapi"></script>
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/jquery-latest.pack.js"></script>
  <script src="/javascripts/thickbox-compressed.js"></script>
</head>

<body id="{{ page.location }}" class="{{ page.register }}">
  <div class="wrapper">

    <!-- Header -->
    <div id="header">
      <span id="logo">Developer Day</span>
      <a href="{{ page.register_link }}" id="register"><img src="/images/register_button.png" alt="Register!" /></a>
    </div>

    <!-- Primary Navigation -->
    <div id="nav">
      <ul id="primary-nav">
        <li id="nav-home"><a href="/">Home</a></li>
        <li id="nav-about"><a href="/about.html">About</a></li>
        <li id="nav-events"><a href="/events.html">Events</a></li>
        <li id="nav-register" class="reg"><a href="{{ page.register_link }}" id="nav-register">Register</a></li>
        <li id="nav-contact"><a href="/contact.html">Contact</a></li>
      </ul>

      <span id="social-elements">
        <ul id="share-nav"> 
          <li><a href="http://twitter.com/developer_day" target="_blank"><img src="/images/twitter-icon.png" alt="Log in to Twitter" /></a></li>
          <li><a href="http://www.facebook.com/group.php?gid=116704738900" target="_blank"><img src="/images/facebook-icon.png" alt="Join Our Facebook Group" /></a></li>
          <!-- li><a href="email_form.html?keepThis=true&TB_iframe=true&height=410&width=395" class="thickbox"><img src="/images/email-icon.png" alt="Email" width="16" height="16" /></a></li -->
          <li>Spread the word: &nbsp;</li>
        </ul>
      </span>
    </div>

    <!-- Main Content -->
    <div id="content" class="homeLayout">
      <div id="main-content">

        {{ content }}
        
        
        <h3 class="questions">QUESTIONS?</h3>
        <p>Drop us a line at <a href="mailto:bscofield@developer-day.com">bscofield@developer-day.com</a>.</p>
        
        <div class="clear"></div>
      </div>

      <!-- Sidebar-->
      <div id="aside">
        {% include event_list.html %}

        <h3>PAST EVENTS PHOTOS:</h3>
        <!-- Start of Flickr Slideshow -->
        <div id="flickr_badge_uber_wrapper">
          <div id="flickr_badge_wrapper">
            <object width="240" height="180">
              <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fjessmartin%2Fsets%2F72157619116262339%2Fshow%2F&page_show_back_url=%2Fphotos%2Fjessmartin%2Fsets%2F72157619116262339%2F&set_id=72157619116262339&jump_to=" />
              <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649" />
              <param name="allowFullScreen" value="true" />
              <embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2Fjessmartin%2Fsets%2F72157619116262339%2Fshow%2F&page_show_back_url=%2Fphotos%2Fjessmartin%2Fsets%2F72157619116262339%2F&set_id=72157619116262339&jump_to=" width="240" height="180" />
            </object>

          </div>
        </div>
        <br clear="all">
        <a href="http://www.flickr.com" id="flickr_www">www.<strong style="color:#3993ff">flick<span style="color:#ff1c92">r</span></strong>.com</a>
        <!-- End of Flickr Slideshow -->
        
        {% include twitter.html %}

        {% include demand.html %}

        {% include sponsors.html %}
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div id="footer">
    <div id="footer-content">
      <p><img src="/images/viget-footer-logo.png" /> &nbsp; <a href="http://www.viget.com">Site by Viget Labs</a></p>
      <ul id="footer-nav">
        <li><a href="/">Home</a></li>
        <li> | </li>
        <li><a href="/about.html">About</a></li>
        <li> | </li>
        <li><a href="/events.html">Events</a></li>
        <li> | </li>
        <li class="reg"><a href="{{ page.register_link }}">Register</a></li>
        <li class="reg"> | </li>
        <li><a href="/contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-8066519-1");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
  
  </body>
</html>